<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title></title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" type="text/css" href="CSS/style.css">
    <link rel="stylesheet" href="CSS/animations.css" type="text/css">
    <script src="https://code.highcharts.com/highcharts.js"></script>
</head>
<body th:with="current=${param.endpoint}">
<script th:inline="javascript">
    var tempArr=[];
    /*<![CDATA[*/

    var currentEndpoint = /*[[${current}]]*/ [];
    /*]]>*/
</script>

<div id="menu" style="width:25%">

     <br />

    <h2>Currently connected devices:</h2>
    <div class="animatedParent" data-sequence='200'  >
        <div class='animated fadeInDownShort' th:data-id="${counter.count}" th:each ="conn, counter : ${links}">

        <h3 ><a th:href="@{ .(endpoint=${conn.value.getConnection().getRegistration().getEndpoint()})}" th:utext="${conn.value.getConnection().getRegistration().getEndpoint()}">...</a></h3>
    </div>
    </div>
</div>


<div id="wrapper" style="margin-left:27%; width: 460px">
    <span style=" position: absolute; top: 10px; right: 10px" th:if="${param.endpoint != null}">
         <button id="my-btn" class="icon-btn">
            <i class="fa fa-refresh" style="font-size:24px"></i>
             </button>
    </span>
    <h1> Device Info

    </h1>


    <div th:if="${#maps.isEmpty(links)}">
        No connected clients.
    </div>
    <div th:if="!${#maps.isEmpty(links)}">
        <div id="errors" th:if="${param.endpoint == null}">
            Please select a device from left
        </div>

<div th:if="${param.endpoint != null}" style="height: 300px; width: 100%">

    <script th:inline="javascript">
        /*<![CDATA[*/


        var tempArr = /*[[${links.get(current[0]).getTemp()}]]*/ [];
        /*]]>*/
    </script>
    Current location:
    IP: <<strong id="ip" th:utext="${links.get(current[0]).getIp() +'%'}">...</strong></span>
    Hostname: <strong id="hostname" th:utext="${links.get(current[0]).getHostname() +'%'}">...</strong></span>
    <hr>
    <strong id="latlon"><span th:utext="${links.get(current[0]).getLat()}">...</span> <span th:utext="${links.get(current[0]).getLon()}">...</span> </strong>
    <hr>
    <div>
        <span> Battery: <strong id="batteryLevel" th:utext="${links.get(current[0]).getBatteryLevel() +'%'}">...</strong></span>
        <span>Status Code:  <strong id = "batteryStatus" th:utext="${links.get(current[0]).getBatteryStatus()}">...</strong></span>

    </div>
    <!--<canvas id="myChart" width="100" height="100"></canvas>-->
    <div id ="chartContainer" ></div>
    <!--<iframe width="600" height="450" frameborder="0" style="border:0" src="https://www.google.com/maps/embed/v1/place?q=33.081188%2C%20-96.841103&key=AIzaSyDkqaaMLJyB9A2cPG5AN379l4JUy3YjIPI" allowfullscreen></iframe>
-->


<!--table border="1" th:each ="conn : ${links}"-->
<div>

    <h4 >Supported Resources</h4>

    <hr>

    <table border="1">
    <tr>
        <th>ID</th>
        <th>Name</th>
    </tr>
    <tr th:each ="model : ${links.get(current[0]).getConnection().getModel().getObjectModels()}">
        <td th:utext="${model.id}">...</td>
        <td th:utext="${model.name}">...</td>

    </tr>
</table>
</div>
</div>
    </div>
</div>
</body>
<script
        src="https://code.jquery.com/jquery-3.4.1.min.js"
        integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo="
        crossorigin="anonymous"></script>
<script src="JS/css3-animate-it.js"></script>
<script src="JS/tempChart.js"></script>
<script src="JS/websocket.js"></script>


</html>